.page {
  background: #0b0f14;
  min-height: 100vh;
  padding: 2rem;
  color: #fff;
  /* border-radius:1rem; */
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111722;
  padding: 2.5rem 5rem;
  margin-top:3rem;
  border-radius: 1.125rem;
  gap: 3rem;
}

.profile-info {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgb(37 153 242);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-badge {
  font-size: 0.75rem;
  background: rgb(9, 111, 189);
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  position: relative;
  left: 4rem;
  top: -1.2rem;
}

.stats {
  display: flex;
  gap: 1.5rem;
}

.stat span {
  display: block;
  font-size: 0.75rem;
  color: #aaa;
}

.recent {
  display: flex
  ;
      flex-direction: column;
      gap: 2rem;}

.movie-list {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
}

#movie-card {
  width: 16.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.poster {
  height: 22.25rem;
  background-color: #222;
  border-radius: 0.875rem;
  overflow: hidden;
}
.poster img{
  width: 100%;
}

.progress-track {
  height: 0.25rem;
  background: #222;
  margin-top: 0.5rem;
}

.progress-fill {
  height: 100%;
  background: rgb(9, 111, 189);
}


.stat {
  background-color: #3e3e3e;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 9rem;
  font-size: 1.3rem;
  text-align: center;
}

.imageholder {
  background-color: #333;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

h2 {
  text-align: left;
}

.tagline {
  text-align: left;
}

p {
  color: white;
}

span {
  color: white;
}

.Biodetails {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.movie-meta {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.favourite {
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
}

.favouritesection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.fav {
  margin-top: 3rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.point-mark {
  width: 0.9rem;
  height: 2.5rem;
  background-color: rgb(9, 111, 189);
  border-radius: 0.5rem;
}

.recent-head {
  display: flex;
  gap: 1rem;
  /* margin-bottom: 1rem; */
  /* margin-top: 0.5rem; */
}