*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --major:#5A83A3;
    --bg : rgb(4 5 6 / 0.95);
    --white : #ffffff;
}
.home{
    width: 100vh;
    position: relative;
}

/* side bar */

aside{
    height: 100vh;
    position: fixed;
    border-right: 1px solid rgb(255 255 255 / 0.05);
    width: 5rem;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--bg);
    transition: .4s all ease-in-out;
    z-index: 999;
}
aside:hover{
    width: 14rem;
    transition: .4s all ease-in-out;
}
aside:hover .logo {
    margin-left: 3rem;
    transition: .4s all ease-in-out;
}

.logo{
    transition: .4s all ease-in-out;
}

.main-nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.user-nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
button:hover {
    color: var(--white);
    border: 1px solid var(--white);
    transition: .4s all ease-in-out;
}


/* button */

aside button{
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    color: var(--major);
    display: flex;
    gap: 2rem;
    align-items: center;
    border-radius: 2rem;
    transition: .4s all ease-in-out;
    font-weight: 600;
    background-color: var(--bg);
}


/* bigMovie Container */


.bigMovieContainer{
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: 90% 90%;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10rem;
}
.bigMovieContainer section{
    width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.premieres{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.tonight{
    padding: .5rem .75rem;
    background-color: #263037;
    color: var(--major);
    border: 1px solid var(--major);
    border-radius: .5rem ;
    opacity: .5;
    font-size: .75rem;
    font-weight: 600;
}

p{
    color: var(--white);
}

.movieDesc{
    color: #BBC4CD;
    line-height: 1.5;
}

#friendWatch{
    padding: 1rem 1.5rem;
    background-color: var(--major);
    color: var(--white);
    border-radius: .5rem;
    border: 1px solid var(--white);
    font-size: 1rem;
    font-weight: 600;
}

#soloPlay{
    padding: 1rem 1.5rem;
    background-color: #505455;
    color: var(--white);
    border-radius: .5rem;
    border: 1px solid var(--white);
    font-size: 1rem;
    font-weight: 600;
}

h1{
    font-size: 4.25rem;
}

.watchButtons{
    display: flex;
    gap: 1rem;
}


/* TrendingMovies */



.trendingMovies{
    padding: 1.5rem 2rem;
    color: var(--white);
    padding: 5rem 10rem;
    background-color: #06090B;
    color: var(--white);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.trends{
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 0.5rem;
}

.homeMovieContainer{
    width: 17rem;
    height: 22rem;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.homeMovieContainer img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: .4s all ease-in-out;
}

.homeMovieContainer img:hover {
    transform: scale(1.08);
    transition: .4s all ease-in-out;
}

.trending{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h5{
    font-size: 1.1rem;
}