.movie-card {
    width: 15.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 29rem;
    background-color: #222;
    border-radius: 0.875rem;
    padding: 0.3rem;
    overflow: hidden;
}
.poster {
    height: 23.25rem;
    background-color: #222;
    border-radius: 0.875rem;
    overflow: hidden;
}
.movie-meta {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
    .progress-track {
     height: 0.25rem;
    background: #222;
    margin-top: 0.5rem;
    }.progress-fill {
     height: 100%;
    background: rgb(9, 111, 189);
    }
    img {
        width: 180px;
    }
    body{
        background: url("../../assets/image.png");
        color: white;
    }

#discoverContainer{
    display: flex;
    width: 100%;
    height: 100%;
}
#discoverNavBar {
    width: 5rem;
}
#discoverMain{
    display: flex;
    width: 115rem;
    flex-direction: column;
}
#searchBarDiscover{
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#disSearchinput {
    padding: 1.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #2f2f2f;
    border: 1px solid gray;
    color: white;
    width: 40rem !important;
}
#discovermain{
    width: 115rem;
}

div#movieitems {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem;
}
.movieCat {
    text-transform: capitalize;
    color: white;
    font-size: 3rem;
    padding: 0.5rem;
}
.poster img {
    width: 15rem;
    height: 23rem;
}
#join:hover{
    color: #517692;
}