.page {
    background: #0b0f14;
    min-height: 100vh;
    padding: 2rem;
    color: #fff;
    border-radius:1rem;
    user-select: none;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111722;
    padding: 1.5rem;
    border-radius: 1.125rem;
  }
  
  .profile-info {
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  
  .avatar {
    width:6rem;
    height: 6rem;
    border-radius: 50%;
    background: #4da3ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pro-badge {
    font-size: 0.75rem;
    background: #2f81f7;
    padding: 0.125rem 0.5rem;
    border-radius: 62.4375rem;
    margin-left: 0.5rem;
  }
  
  .stats {
    display: flex;
    gap: 1.5rem;
  }
  
  .stat span {
    display: block;
    font-size: 0.75rem;
    color: #aaa;
  }
  
  .recent {
    margin-top: 2rem;
  }
  
  .movie-list {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
  }
  
  .movie-card {
    width: 11.25rem;
  }
  
  .poster {
    height: 16.25rem;
    background-color: #222;
    border-radius: 0.875rem;
  }
  
  .progress-track {
    height: 0.25rem;
    background: #222;
    margin-top: 0.5rem;
  }
  
  .progress-fill {
    height: 100%;
    background: #4da3ff;
  }
  

  .stat{
    background-color: #3e3e3e;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: 6rem;
    font-size: 1.3rem;
  }

  .imageholder{
    background-color:#333;
    border-radius: 100%;
    width:5rem;
    height: 5rem;
  }

  h2{
    text-align: left;
  }
  .tagline{
    text-align: left;
  }

  button{
    background-color: #111722;
    color: white;
    border: 0.2rem solid #4da3ff;
  }