:root{
    --border : #2D2D2F;
}
#room{
    width: 100%;
    height: 100vh;

}
#selectMovie{
    width: 45%;
    height: 100%;
}
#one{
    width: 2rem;
    border-radius: 50%;
    background-color: var(--major);
    color: white;
    text-align: center;
    border: 1px solid var(--border);
}      
#two{
    width: 2rem;
    border-radius: 50%;
    background-color: var(--grey);
    color: var(--major);                   
    text-align: center;
    border: 1px solid var(--border);
}                           
.stage{
    width: 70%;
    display: flex;
    gap: 2rem;
}
.line{
    width: 3rem;
    height: 1px;
    background-color: var(--grey);
}