:root{
    --border : #2D2D2F;
    --lightblue : #20282F;
}
.roomType{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
.createRoom{
    width: 50%;
    height: 100%;
    margin-left: 3.75%;
    background-color: var(--major);
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid var(--white);
}
.joinRoom{
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
}
.movieTime{
    width: 8rem;
    height: 8rem;
    color: var(--white);
    border-radius: 1rem;
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.joinTime{
    width: 5rem;
    height: 5rem;
    color: var(--major);
    border: 1px solid var(--white);
    background-color: var(--lightblue);
    border-radius: 1rem;
    font-size: 2rem;
}
.joinRoom h1{
    font-size: 2.5rem;
}
.createRoom h1{
    font-size: 2.5rem;
}
.joinRoom p{
    width: 50%;
    text-align: center;
    line-height: 1.5;
    font-size: 1.25rem;
}
.createRoom p{
    width: 50%;
    text-align: center;
    line-height: 1.5;
    font-size: 1.25rem;
}
#createRoom{
    background-color: var(--white);
    color: var(--major);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: var(--major);
    font-weight: 600;
    font-size: 1.25rem;
}
.inputs{
    gap: 2rem;
}
.inputs input{
    width: 4rem;
    height: 4rem;
    padding: 1.35rem;
    font-size: 2rem;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}  
#joinRoom{
    background-color: var(--major);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    border: 1px solid var(--white);
}
#room{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
#selectMovie{
    width: 45%;
    height: 100%;
    margin-left: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
}
#one{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--major);
    color: white;
    border: 1px solid var(--border);
    margin-right: 1rem;
}      
#two{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--grey);
    color: var(--major);                   
    border: 1px solid var(--border);
    margin-right: 1rem;
}                           
.stage{
    width: 70%;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--white);
}
.line{
    width: 5rem;
    height: 2px;
    background-color: var(--white);
}
#selectMovie h1{
    font-size: 2rem;
}
#selectMovieContainer{
    width: 100%;
    height: 45vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;
}
.selectedMovie{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;
}
#configuration{
    background-color: var(--major);
    color: var(--white);
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--white);
    font-weight: 600;
}
.movie{
    width: 100%;
    height: 90%;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
}
#selectMovieContainer > div{
    width: 45%;
    height: 90%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.empty{
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
}
.movieIcon{
    width: 4rem;
    height: 4rem;
    background-color: var(--major);
    color: var(--white);
    border-radius: 50%;
}
.empty h1{
    font-size: 2.5rem;
    color: var(--major);
}
.empty p{
    font-size: 1rem;
}
.hLine{
    height: 5rem;
    width: 2px;
    background-color: var(--major);
    border-radius: 1rem;
}
.config{
    width: 44.5%;
    margin-left: 5%;
    padding: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.back{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.back i{
    color: var(--white);
    font-size: 1.5rem;
}
.config h1{
    font-size: 2.5rem;
}
.features{
    width: 100%;
    background-color: var(--input);
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aboutFeature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featureName h2{
    font-size: 1.5rem;
}
.featureName{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.aboutFeature i{
    font-size: 2.5rem;
    color: var(--major);
}
.config p{
    color: var(--major);
}
.back i:hover{
    cursor: pointer;
}
.configurations{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    padding: .1rem;
    overflow-y: scroll;
}
#inviteFriends{
    background-color: var(--major);
    color: var(--white);
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}
.inviteForMovie{
    width: 44.5%;
    margin-left: 5%;
    padding: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.code{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    border: 2px solid var(--border);
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 2rem;
}
#copy,#start,#invite{
    background-color: var(--major);
    color: var(--white);
    font-weight: 600;
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}
.friend{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    border-radius: 1rem;
    border: 2px solid var(--border);
    padding: 1rem;
}
.aboutFriend{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.aboutFriend img{
    width: 4rem;
    height: 4rem;
}
.nameOfFriend{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white);
}