body{
    width: 100vw;
    height: 100vh;
}
#root {
    width: 100%;
    height: 100%;
}
#socialContainer{
    width: 100%;
    height: 100%;
    display: flex;
}


#pendingInviteDiv{
    height: 20rem;
    padding:10rem;
}
#pendingTop{
    padding: 2rem;
}
#allFriendsBox {
    padding: 10rem;
}
#headOfAllFr {
    padding: 2rem;
}
#searchInSocial {
    padding: 1.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #1C1C1C;
    border: 1px solid gray;
    color: white;
    width: 30rem;
}
#root{
    background: rgb(1, 9, 33);
    color: white !important;
}
#socialNavDiv{
    width: 5rem;
    background: rgb(3, 11, 38);
}
#socialMain {
}
#socialTopBar {
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    width: 120rem;
    padding: 2rem 7rem;
    background: linear-gradient(180deg, black 60%, transparent);
}